<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm mt-5 mb-5">
        <div class="card-body p-4">
          <h2 class="text-center mb-4">Become a Petsitter</h2>
          <%= render 'form_signup' %>
        </div>
      </div>
    </div>
  </div>
</div>
