<div class="banner" style="height: 300px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dxkjh8nhh/image/upload/v1731907335/happy_dog_being_held_by_woman.jpeg_hoxb3k.jpg')">
</div>
<div class= "container mt-3">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Bookings / Requests
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse" >Bookings</a></li>
        <li><a class="dropdown-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse" >Requests</a></li>
      </ul>
    </button>


<h1>Bookings</h1>
<ul class="list-group list-group-horizontal-sm">
<% @bookings.each do |booking| %>
  <li class="list-group-item"><%= booking.status %> booking request from <%= booking.start_date %> to <%= booking.end_date %> </li>

<% end %>
</ul>

<h1>Requests</h1>
<ul class="list-group list-group-horizontal-sm">
         <% @requests.each do |booking| %>
          <li class="list-group-item">From <%= booking.user.username %></li>
         <% end %>
        </ul>
