<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dxkjh8nhh/image/upload/v1731991259/OVRS-connect-shutterstock_2132259743_qq4bad.jpg);">
  <p class="mx-2">"Because pets are family."</p>
  <%= link_to "Book a Petsitter", bookings_path, class: "btn btn-primary mx-2 my-5" %>
  <%= link_to "Become a Petsitter", petsitters_path, class: "btn btn-primary mx-2 my-5" %>
</div>
</div>
<div class="card-category mt-2 mx-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path("keybenefits.png")%>');">
</div>
<div class="card-category mt-2 mx-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path("reviews.png")%>');">
</div>
